.head1 {
	width:100%;
	height: 400px;
	color: white;
}
.head1 h1 {
	padding-top: 18%;
	padding-left: 2%;
	 
}
.box {
		width: 300px;
		height: 360px;
		background-color: white;
		margin-top: 30px;
		margin-bottom: 30px;
		margin-left: 30px;
		border-radius: 10px;
}
.inbox1 {
		width: 300px;
		height: 200px;
		background-color: #808080;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;		
}
.inbox2 {
		width: 300px;
		height: 160px;
		background-color: #CCCCCC;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
}
.cont1 {
	justify-content: center;
	width: 1100px;
	border-radius: 10px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		background-color: #fff;
}