		.foot {
			color: white;
			margin-bottom: 0px;
		}
		

		.dropbtn {
		    color: white;
		    font-size: 16px;
		    border: none;
		}

		.dropdown {
		    display: inline-block;
		}

		.dropdown-content {
		    display: none;
		    background-color: #f1f1f1;
		    min-width: 160px;
		    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		    z-index: 1;
		}

		.dropdown-content a {
		    color: black;
		    padding: 12px 16px;
		    text-decoration: none;
		    display: block;
		}

		.dropdown-content a:hover {background-color: #ddd}

		.dropdown:hover .dropdown-content {
		    display: block;
		}

		.dropdown:hover .dropbtn {
		    background-color: #ddd;
		}
		.col-lg-3{
			text-align: center;
		}
		.waduk:hover{
			background-image: linear-gradient(180deg, rgba(0,0,0,0) 80%, rgba(0,0,0,1) 20%);
		}
		.item-1{
			background-image: url(asset\img\item-1.jpg);
		}
		.item-2{
			background-image: url(asset\img\item-2.jpg));
		}
		.item-3{
			background-image: url(asset\img\item-3.jpg));
		}
		.item-4{
			background-image: url(asset\img\item-4.jpg));
		}
		.item-5{
			background-image: url(asset\img\item-5.jpg));
		}
		.item-6{
			background-image: url(asset\img\item-6.jpg));
		}
