<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<script type="text/javascript" src="assets/js/bootstrap.js"></script>
	<script type="text/javascript" src="assets/js/jquery.js"></script>
	<script type="assets/js/jquery-3.3.1.min"></script>
	<script type="text/javascript" src='assets/js/angular.min.js'></script>
	<script type="text/javascript" src='assets/js/app.js'></script>
	<link rel="stylesheet" type="text/css" href="assets/css/hf.css">
	
</head>
<body>


	<div class="container-fluid">

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#">
	  	 <img src="assets/img/logo.png" width="30" height="30" alt="">
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="justify-content: flex-end;">
	    <ul class="navbar-nav">
	      <li class="nav-item">
	        <a class="nav-link" href="index.html">Beranda</a>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropbtn active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          News
	        </a>
	        <div class="dropdown-menu dropdown-content active" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="article.html">Article </a><span class="sr-only">(current)</span></a>
	          <a class="dropdown-item" href="trip.html">Trip</a>
	          <a class="dropdown-item" href="event.html">Event</a>
	        </div>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropbtn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Destination
	        </a>
	        <div class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="beach.html">Beach</a>
	          <a class="dropdown-item" href="hill.html">Hills</a>
	          <a class="dropdown-item" href="#">Reservoir</a>
	        </div>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="contact.html">Contact</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link " href="about.html">About <span class="sr-only">(current)</span></a>
	      </li>
	    </ul>
	  </div>
	</nav>
<h1 style="text-align: center;">Kisah Makam di Tengah Waduk Sermo Kulon Progo</h1>
<div class="container">
<center><img src="assets/img/sermo.jpg" -width="1000" -height="700" style="border-radius: 10px"></center>
<br><p style="align-content: justify; ">Liputan6.com, Yogyakarta - Berwisata di waduk Sermo menjadi pilihan bagi sebagian orang yang datang ke Kulon Progo. Waduk Sermo mulai banyak dikunjungi wisatawan setelah banyak objek wisata baru di sekitar waduk Sermo.

Waduk yang diresmikan oleh Presiden Soeharto 20 November 1996 silam masih menjadi pilihan andalan untuk berwisata naik perahu.

Untuk pembangunan waduk ini, Pemda Kulon Progo melakukan transmigrasi massal alias "bedol desa". Sebanyak 100 kepala keluarga ditransmigrasikan ke Tak Toi Bengkulu dan 7 KK ditransmigrasikan ke Perkebunan Inti Rakyat (PIR) Kelapa Sawit, Riau.<br> <p style="text-indent: 0.5in">Narno, pengemudi perahu wisata waduk Sermo mengatakan jika ia dan keluarganya termasuk penghuni desa Sermo yang harus bedol desa itu. Namun, ia tidak ikut ke luar Jawa dan tinggal dengan keluarga di dekat waduk saat ini.

Ia pun memilih menjadi nakhoda perahu wisata karena mulai banyak wisatawan yang berwisata di waduk Sermo. "Ya banyak yang datang. Weekend ini juga lumayan wisatanya," ujarnya beberapa waktu lalu.

Narno mengatakan waduk Sermo yang terletak di Dusun Sermo, Desa Hargowilis, Kecamatan Kokap, Kabupaten Kulon Progo, Yogyakarta ini mulai banyak objek wisata.

Terutama spot foto di beberapa titik waduk yang luas genangan airnya mencapai lebih kurang 157 hektare dan dapat menampung air 25 juta meter kubik ini. Khusus wisata perahu, pengunjung dapat melihat kondisi waduk Sermo dan sekitarnya.

"Cuma bayar sepuluh ribu per orang sudah dapat melihat lihat waduk," ujarnya.<br></p><p style="text-indent: 0.5in"> Narno pun juga bercerita kepada wisatawan yang menaiki perahunya tentang sejarah waduk Sermo. Salah satunya cerita bedhol desa pada tahun 1996 lalu sehingga membuat semua yang ada dalam dusun pindah. Termasuk, makam leluhur yang ada di Sermo. Makam leluhur dipindah ke lokasi timur waduk sekarang.

"Nah yang ada benderanya ini dulu makam leluhur termasuk Mbah Sermo. Katanya sudah dipindahkan tapi enggak tahu wong pas itu saya masih kecil katanya sih enggak mau Mbah Sermonya," ujarnya.

Narno menceritakan sejarah waduk Sermo kepada wisatawan untuk mengedukasi para pengunjung yang datang ke waduk Sermo. Selain sejarah, ia juga menceritakan fungsi dari waduk Sermo yang dirasakan warga Yogyakarta khususnya Kulon Progo.

"Air PDAM juga ambil di sini juga untuk mengaliri sawah sawah warga juga," ujar dia.

 </p>
 <br></p><p style="text-indent: 0.5in"> Salah satu pengunjung waduk Sermo asal Temon Kulon Progo, Intan mengatakan, tertarik menikmati suasana waduk Sermo. Dahulu, ia sering datang ke waduk Sermo bersama keluarga. Namun, setelah besar ia pun mengajak teman-teman kuliahnya datang berwisata ke waduk Sermo.

"Sebagai orang Kulon Progo saya ajak teman-teman kuliah luar kota Yogyakarta untuk menikmati suasana waduk terbesar di Yogya ini," ujarnya.

Ia pun mulai bangga mengenalkan wisata waduk Sermo kepada teman-temannya. Sebab, saat ini wisata di daerahnya semakin maju, termasuk yang berdekatan dengan waduk Sermo. Bahkan, teman-teman kuliahnya mulai mengagendakan wisata ke daerahnya selain waduk sermo.

"Selain ke sini nanti mau ke Kalibiru tinggal naik, tadi sudah foto-foto di akar liar terus nanti naik foto foto juga, mereka antusias banget lihat wisata di sini," dia menandaskan.</p>


sumber :https://www.liputan6.com/regional/read/3210197/kisah-makam-di-tengah-waduk-sermo-kulon-progo 

</p>


 <div id="map" style="width: 800px; height: 300px;"></div> 
 
        <script type="text/javascript">
              
//              menentukan koordinat titik tengah peta
              var myLatlng = new google.maps.LatLng(-7.8226352,110.1214297,17);
 
//              pengaturan zoom dan titik tengah peta
              var myOptions = {
                  zoom: 13,
                  center: myLatlng
              };
              
//              menampilkan output pada element
              var map = new google.maps.Map(document.getElementById("map"), myOptions);
              
//              menambahkan marker
              var marker = new google.maps.Marker({
                   position: myLatlng,
                   map: map,
                   title:"sermo"
              });
        </script> 
    <h2>Review</h2>
	<body ng-app='myApp'>

	<div ng-controller='MyController'>
		<ul class='list-group'>
		<li class='list-group-item' ng-repeat='database in databases'>
			<div>
				<p>Name: {{database.name}}</p>
				<p>Your commant: {{database.comment}}</p>
				
				<button class="btn" type="button" ng-click="remove(database)">Hapus</button>
			</div>
		</li>
		</ul>

		<form name='databaseForm' ng-submit='addDatabase()'>
			<p>{{form.name}}</p>
			<p>{{form.comment}}</p>
			

			<label>Name</label><br/>
			<input ng-model='form.name' type='text'><br/>
			<label  for="exampleFormControlTextarea1">comment</label><br/>
			<textarea ng-model='form.comment' type='text' class="form-control" id="exampleFormControlTextarea1" rows="3" style="width:400px"></textarea>
			
			<input id='submit' type='submit' value='Send'/>

		</form>

	</div>
</div>	
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #808080; margin: 10px 0 0 0;;">

	  <a class="navbar-brand" href="#">
	    <img src="assets/img/logo.png" width="90" height="90" alt="">
	  </a>

	  <div class="collapse navbar-collapse " id="navbarNav" style="justify-content: flex-end;">
	    <ul class="navbar-nav " style="padding-top:30px; ">
	      <li class="nav-item" style="text-align: center;">
	      	<img style="width: 50px; height: 50px; text-align: center;" src="assets\img\ig-logo.png">
	        <a class="nav-link" href="#"><p class="foot">Instagram</p></a>
	      </li>
	      <li class="nav-item" style="text-align: center;">
	      	<img style="width: 50px; height: 50px; text-align: center;" src="assets\img\fb-logo.png">
	        <a class="nav-link" href="#"><p class="foot">Facebook</p></a>
	      </li>
	      <li class="nav-item" style="text-align: center;"><a class="nav-link" href="https://api.whatsapp.com/send?phone=082284443908&text=Halo%20Admin%20Saya%20Mau%20bertanya">
	      	<img style="width: 50px; height: 50px; text-align: center;" src="assets\img\wa-logo.png">
	        <p class="foot">WhatsApp</p></a>
	      </li>
	    </ul>
	  </div>
	  
	</nav>

</body>
</html>

